.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
.example-container2 {
  width: 100%;
  height: 100vh;
  box-shadow: inset;

}

.full {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.content{
  padding:1%;
  background-color: lightgray;

}

h1{
  width: 100%;
  text-align: center;
}

