<mat-drawer-container class="example-container2">
  <mat-drawer mode="side" opened>
    <mat-toolbar class="full" color="primary">
      <mat-toolbar-row>
        <button mat-button routerLink="RegistrarP">Registrar Publicación</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button routerLink="view">Control</button>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <button mat-button routerLink="CrearCategoria">Crear Categoria</button>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer>
  <mat-drawer-content class="content">
    <h1>BIENVENIDOS A PEOPLE'S MARKET</h1>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
