<mat-grid-list cols="6" rowHeight="100%" class=rout2>
  <mat-grid-tile colspan=3 rowspan=2 class=rout3>
  </mat-grid-tile>
  <mat-grid-tile colspan=3 rowspan=2 class=rout>
    <div class="caracteristica">
      <img src="https://i.ibb.co/xmFYsvv/logo.png" alt="logo">
      <h1>{{title}}</h1>
      <form [formGroup]="loginGroup">
        <mat-form-field class="caracteristicas">
          <mat-label>
            <mat-icon aria-hidden="false" aria-label="usuario">contacts</mat-icon> Usuario
          </mat-label>
          <input type="text" formControlName="usuario" matInput placeholder="Ingrese su usuario">
        </mat-form-field>

        <mat-form-field class="caracteristicas">
          <mat-label>
            <mat-icon aria-hidden="false" aria-label="contraseña">vpn_key</mat-icon> Contraseña
          </mat-label>
          <input type="password" formControlName="contraseña" matInput placeholder="Ingrese su contraseña">
        </mat-form-field>

        <button mat-raised-button (click)="searchFor()" color="primary" [disabled]="loginGroup.invalid">
          <mat-icon aria-hidden="false" aria-label="contraseña">double_arrow</mat-icon>INGRESAR
        </button>
        <button mat-raised-button color="primary">
          REGISTRARSE
        </button>
        <span>{{usuarios|json}}</span>
      </form>
    </div>

  </mat-grid-tile>
</mat-grid-list>
