.caracteristicas{
  width: 100%;
}
div{
  text-align: center;
  align-items: center;
  align-content: center;
}

form{
  width: 75%;
  position: static;
  margin-left: 15%;
  font-size: larger;
}

button{
  margin: 2%;
}

h1{
  font-style: oblique;
}

img{
  width: 25%;
}

.rout {
  width: 100%;
  height: 100vh;
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(111,97,97,1) 99%, rgba(72,121,223,1) 100%);

  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
.rout2 {
  width: 100%;
  height:100vh;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}
.rout3 {
  background: url(../../source/fondo4.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #3561a0;
  background-size: contain;
  text-align: center;
  color: #000;


}
