<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="registrarGroup">
    <form [formGroup]="registrarGroup">
      <ng-template matStepLabel>Datos del producto </ng-template>
      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="producto">account_circle</mat-icon>Producto
        </mat-label>
        <input formControlName="producto" matInput placeholder="Productos">
        <mat-error *ngIf="getError('producto')">
          producto es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="marca">bookmarks</mat-icon>
          Marca
        </mat-label>
        <input formControlName="marca" matInput placeholder="Marcas">
        <mat-error *ngIf="getError('marca')">
          Marca es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="color">palette</mat-icon>Color
        </mat-label>
        <input formControlName="color" matInput placeholder="Ingresar Color">
        <mat-error *ngIf="getError('color')">
          Color es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="caracteristicas">
        <mat-label aria-hidden="false" aria-label="celular">
          <mat-icon aria-hidden="false" aria-label="celular">settings_cell</mat-icon>Celular
        </mat-label>
        <input type="number" formControlName="celular" matInput placeholder="Ingrese su celular">
        <mat-error *ngIf="getError('celular')">
          Celular es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </form>

  </mat-step>
  <mat-step [stepControl]="registrarGroup">
    <form [formGroup]="registrarGroup">
      <ng-template matStepLabel>Información</ng-template>
      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="tipoProducto">ballot</mat-icon>Tipo de producto
        </mat-label>
        <select formControlName="tipoProducto" matNativeControl>
          <option value="TECNOLOGIA">Tecnologia</option>
          <option value="HOGAR">Hogar</option>
          <option value="BELLEZA">Belleza</option>
          <option value="MODA">Moda</option>
          <option value="ACCESORIOS">Accesorios</option>
          <option value="OTROS">Otros</option>
        </select>
        <input *ngIf="registrarGroup.value.tipoProducto==='OTROS'" matInput formControlName="diferente" placeholder="Ingrese el tipo de producto" >
        <mat-error *ngIf="getError('tipoProducto')">
          Tipo de producto <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="descripcion">subject</mat-icon>Descripción
        </mat-label>
        <textarea formControlName="descripcion" matInput placeholder="ingrese la descripcion"></textarea>
        <mat-error *ngIf="getError('descripcion')">
          Descripción es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="imagenes">panorama</mat-icon> Agregar imagen
        </mat-label>
        <input formControlName="imagenes" matInput placeholder="Ingresar url imagenes" />
        <mat-error *ngIf="getError('imagenes')">
          Imagenes <strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="registrarGroup">
    <form [formGroup]="registrarGroup">
      <ng-template matStepLabel>Pago</ng-template>

      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="metodoPago">local_atm</mat-icon>Tipo de pago
        </mat-label>
        <select formControlName="metodoPago" matNativeControl>
          <option value="Efectivo">Efectivo</option>
          <option value="credito">Tarjeta de credito</option>
          <option value="bancario">Corresponsal bancario</option>
        </select>
        <mat-error *ngIf="getError('metodoPago')">
          Método de pago es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="precio">attach_money</mat-icon>Precio del producto
        </mat-label>
        <input type="number" formControlName="precio" matInput placeholder="precio">
        <mat-error *ngIf="getError('precio')">
          precio es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="addFor()" [disabled]="registrarGroup.invalid" color="primary">Crear
        Publicación</button>
      &nbsp;
      <button mat-raised-button color="primary" routerLink="">Cancelar</button>

    </form>
  </mat-step>
</mat-horizontal-stepper>

<span *ngIf="confirmacion !== null">{{openDialog()}}</span>
