.centrar{
  margin-left: 25%;
  max-width: 50%;
  align-content: center;
}

.centrar2{
  margin-left: 50%;
  max-width: 50%;
  align-content: center;
  color: blue;

}

.rout {
  background-color: lightblue;
}

.contener {
  width: 100%;
  height: 25%;

}

.example-spacer {
  flex: 1 1 auto;
}
