<h1>
  <mat-icon aria-hidden="false" aria-label="ic">settings</mat-icon>{{title}}
</h1>

<table aria-describedby="info" mat-table [dataSource]="publicaciones" class="mat-elevation-z8">


  <ng-container matColumnDef="id">
    <th scope="id" mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="producto">
    <th scope="producto" mat-header-cell *matHeaderCellDef> producto </th>
    <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
  </ng-container>

  <ng-container matColumnDef="marca">
    <th scope="marca" mat-header-cell *matHeaderCellDef> marca </th>
    <td mat-cell *matCellDef="let element"> {{element.marca}} </td>
  </ng-container>

  <ng-container matColumnDef="color">
    <th scope="color" mat-header-cell *matHeaderCellDef> color </th>
    <td mat-cell *matCellDef="let element"> {{element.color}} </td>
  </ng-container>

  <ng-container matColumnDef="celular">
    <th scope="celular" mat-header-cell *matHeaderCellDef> celular </th>
    <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
  </ng-container>

  <ng-container matColumnDef="metodoPago">
    <th scope="metod" mat-header-cell *matHeaderCellDef> metodoPago </th>
    <td mat-cell *matCellDef="let element"> {{element.metodoPago}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th scope="descrip" mat-header-cell *matHeaderCellDef> descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="precio">
    <th scope="precio" mat-header-cell *matHeaderCellDef> precio </th>
    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
  </ng-container>

  <ng-container matColumnDef="tipoProducto">
    <th scope="tipoProducto" mat-header-cell *matHeaderCellDef> tipoProducto </th>
    <td mat-cell *matCellDef="let element"> {{element.tipoProducto}} </td>
  </ng-container>

  <ng-container matColumnDef="imagenes">
    <th scope="imagenes" mat-header-cell *matHeaderCellDef> imagenes </th>
    <td mat-cell *matCellDef="let element"> {{element.imagenes}} </td>
  </ng-container>

  <ng-container matColumnDef="opcion">
    <th scope="estado" mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="inhabilitar.emit(element)">{{element.estado}}</button>

    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
