<h1>{{titulo}}</h1>
<mat-horizontal-stepper [linear]="false" #stepper>
  <mat-step [stepControl]="crearGroup">
    <form [formGroup]="crearGroup">
      <ng-template matStepLabel>Datos Categoria</ng-template>
      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="nombre">account_circle</mat-icon>Nombre Categoria
        </mat-label>
        <input formControlName="nombre" matInput placeholder="Nombre">
        <mat-error *ngIf="getError('nombre')">
          Descripcion es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="caracteristicas">
        <mat-label>
          <mat-icon aria-hidden="false" aria-label="descripcion">bookmarks</mat-icon>
          Descripcion
        </mat-label>
        <input formControlName="descripcion" matInput placeholder="Descripcion">
        <mat-error *ngIf="getError('descripcion')">
          Descripcion es <strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button (click)="addFor()" [disabled]="crearGroup.invalid" color="primary">Guardar</button>
      &nbsp;
      <button mat-raised-button color="primary" routerLink="">Cancelar</button>
    </form>
  </mat-step>
</mat-horizontal-stepper>
<mat-card>
  <mat-card-content>
    <span>{{confirmacion}}</span>
  </mat-card-content>
</mat-card>
